.container{
    display: flex;
    justify-content: center;
}

.navbar{
    display: flex;
    align-items: center;
    .links{
        display: flex;
        align-items: center;
    }
}
#canvas{
    background-color: green;
}